<h2>Server Sent Books</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Published Date</th>
        </tr>
    </thead>
    <tbody>
@foreach(var book in Model) {
        <tr>
            <td>@book.Id</td>
            <td>@Html.ActionLink((string)(book.Title), "Edit", new { id = book.Id })</td>
            <td>@book.Author</td>
            <td>@book.PublishDate.ToShortDateString()</td>
        </tr>
}
    </tbody>
</table>
